font-size = 20px
font = font-size 'sp0001'
fontAlt = font-size 'sp0002', Times, serif
lineHeight = 28px
lineHeightalt = 38px
letterSpacing = .02em
opacityOut = opacity .25s ease-out
transitionAll = all .25s
transitionOut = all .15s ease-out
transformScale = translateZ(1) scale(1.0, 1.0)
textColor = #000
hoverColor = #fff
guideColor= #f775f0
fittyPer = 50%
translateFitty = translate(-50%, -50%)
menuWidth = 500px
imgResize = 85%
box-shadow(args...)
    -webkit-box-shadow args
    -moz-box-shadow args
    box-shadow args

transition(n)
  -webkit-transition n
  -moz-transition n
  -o-transition n
  transition n
transform(n)
  -webkit-transform n
  -moz-transform n
  -o-transform n
  transform n
transformDeg = rotate(0deg)
transformOrigin(n)
  -webkit-transform-origin n
  -moz-transform-origin n
  -o-transform-origin n
  transform-origin n
transformPerc = 25% 0%
backFace(n)
  backface-visibility n
  -webkit-backface-visibility n

hawlinBg = black
jazzBg = white
segaBg = pink
navsegdaBg = #6a7ea8
ballBg = beige
octaneBg = #ddd
selectionColor = red

html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video
  border 0
  font-size 100%
  font inherit
  vertical-align baseline
  margin 0
  padding 0

article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section
  display block

body
  line-height 1

ol,ul
  list-style none

blockquote,q
  quotes none

blockquote:before,blockquote:after,q:before,q:after
  content none

table
  border-collapse collapse
  border-spacing 0

html
  background-color #ff0918
  overflow hidden
  text-rendering optimizeLegibility

body
  font font
  line-height  lineHeight
  letter-spacing  letterSpacing
  min-width 900px

#intro-page
  position absolute
  top 0
  left 0
  width 100%
  height 100%
  background black
  z-index 5000
  img
    max-width 60%
    max-height 70%
    position absolute
    top fittyPer
    left fittyPer
    transform translateFitty
    transform transformScale

.guide
  top fittyPer
  left fittyPer
  transform translateFitty
  transform transformScale
  width 1px
  height 100%
  background-color guideColor
  position absolute
  z-index 160
  cursor ew-resize

.mobile-pub
  display  none

a
  color inherit
  text-decoration none

.logo
  position fixed
  z-index 160
  top 19px
  height 25px
  width 210px
  left 20px
  display inline-block
  font-size 20px
  .info
    cursor pointer
    color white

.active
  color white

.drawer
  font fontAlt
  -webkit-font-smoothing antialiased
  font-size 30px
  line-height 36px
  height 430px
  width 100%
  min-width 930px
  left 0px
  right 0px
  top -495px
  background-color black
  position fixed
  color #fff
  text-align center
  padding-top 65px
  z-index 151
  backFace hidden
  overflow hidden
  a
  .submitbtn
    display inline-block
    border-bottom 1px solid
    border-bottom-color red
    margin-bottom -15px
    transition transitionOut
    &:hover
      color red
  .left
  .right
    float left
    height 400px
    width calc(50% - 45px)
    margin 8px 25px 0 20px
    text-align left
    position relative
    .caption
      position absolute
      bottom 35px
      left 0
    p
      margin-bottom lineHeightalt

.exit-drawer
  top -55px
  right 5px
  position absolute
  z-index 160
  display inline-block
  font font
  color white
  cursor pointer



#pub-ul
  position absolute
  top fittyPer
  left fittyPer
  transform translateFitty
  transform transformScale
  width 420px
  text-align center
  margin-top -15px
  li
    font-size 24px
    padding-top 5px
    line-height 37px
    clear both
    margin-bottom -8px
    a
      display block
    img
      max-width 60px
      float left
      margin-right 10px
    br
      line-height lineHeight

sup
  font-size 13px
  text-transform uppercase
  display inline-block
  position relative
  top 10px
  line-height 6px
  margin-bottom -30px

.booktitle + sup
  font-size 13px
  text-transform uppercase
  display inline-block
  position relative
  top -5px
  line-height 6px
  margin-bottom -30px

.thumb
  box-shadow rgba(0, 0, 0, 0.3) 3px 3px 7px

.cart
  position absolute
  top 18px
  right 25px
  z-index 150

.cartbtn
.addcartbtn
.minicart-submit
  font font
  line-height lineHeight
  letter-spacing letterSpacing
  background none
  border none
  color inherit
  text-decoration none
  cursor pointer
  box-shadow 0px
  padding 0px
  margin 0px
  border 0px
  &:focus
  /button:focus
    box-shadow 0px
    padding 0px
    margin 0px
    border 0px
    outline none

.addtocart
  display inline
  margin-left 10px

.carttwo
#info
  position absolute
  bottom 20px
  left 20px

.udln
form.addtocart
.shabazz-intro a
.minicart-submit
  border-bottom 2px solid
  border-color inherit


p.first
  text-indent 165px

p
  margin-bottom lineHeight

.link-title
  position relative
  z-index 100

.booktitle
    display block

#img-container 
  img
    position absolute
    max-width imgResize
    max-height imgResize
    top 10%
    left 10%
    z-index -400
    &:empty
      top fittyPer
      left fittyPer
      transform translateFitty
      transform transformScale

.imgdisplay
  display visible

#library
  &:hover
    color red

#hawlin
  &:hover
    color skyblue

#jazz
  &:hover
    color red

#sega
  &:hover
    color blue

#navsegda
  &:hover
    color maroon

#ball
  &:hover
    color #2b180b

#octane
  &:hover
    color black

#library-img
#hawlin-img
#jazz-img
#sega-img
#navsegda-img
#ball-img
#octane-img
    display none

.bglibrary
  color hoverColor
  background-color textColor
.bghawlin
  color hoverColor
  background-color hawlinBg
.bgjazz
  background-color jazzBg
.bgsega
  background-color segaBg
.bgnavsegda
  background-color navsegdaBg
.bgball
  background-color ballBg
.bgoctane
  background-color octaneBg

.bgfadelibrary
  color hoverColor
  background-color textColor
  transition transitionOut
.bgfadehawlin
  color hoverColor !important
  background-color hawlinBg
  transition transitionOut
.bgfadejazz
  background-color jazzBg
  transition transitionOut
.bgfadesega
  background-color segaBg
  transition transitionOut
.bgfadenavsegda
  background-color navsegdaBg
  transition transitionOut
.bgfadeball
  background-color ballBg
  transition transitionOut
.bgfadeoctane
  background-color octaneBg
  transition transitionOut


/*slides    */

#hawlin-gallery
#jazz-gallery
#sega-gallery
#navsegda-gallery
#ball-gallery
#octane-gallery
    position absolute
    overflow hidden
    display none
    z-index 160
    width 100%
    height 100%
    top 0
    left 0

.box 
  img
    z-index 200
    position absolute
    max-width imgResize
    max-height imgResize
    display none
    cursor pointer !important
    &:empty
      top fittyPer
      left fittyPer
      transform translateFitty
      transform transformScale

.slide-title
  position absolute
  top 19px
  left 20px

.imgslide
  display none

.sold-out
  text-decoration line-through
  margin-left 10px

input
  border 0px
  margin-left 0px
  padding 0px

.email-fm
  margin 0px
  padding 0px

.email
  font fontAlt
  font-size 28px
  letter-spacing letterSpacing
  -webkit-font-smoothing antialiased
  display inline
  width 340px
  height 27px
  color white
  text-align left
  margin-right 10px
  outline none
  background-color transparent
  cursor text
  border 1px solid white
  padding 5px
  &:focus
    width 340px

.submitbtn
    font fontAlt
    font-size 28px
    letter-spacing letterSpacing
    -webkit-font-smoothing antialiased
    background none
    border none
    color white
    text-decoration none
    cursor pointer
    box-shadow 0px
    padding 0px
    margin 0px
    border 0px


::-webkit-input-placeholder
  color white
:-moz-placeholder
  color white
::-moz-placeholder
  color white
:-ms-input-placeholder
  color white


/*   minicart   */

#PPMiniCart 
  display: none;
  position: fixed;
  top: fittyPer
  left: fittyPer
  transform translateFitty
  z-index: 350;
  .minicart-title
    float left
    margin -10px -10px 0
    padding 10px
    background 0
    border 0
    font-size 20px
    cursor pointer
    position absolute
    top 12px
  .minicart-showing &
    display block
    top fittyPer
    left fittyPer
    backFace hidden
    transform translateFitty
  form
    position relative
    width 600px
    max-height 400px
    margin-left 0px
    padding 10px 10px 40px 
    background hoverColor
    border 0px
    border-radius 0px
    box-shadow 0px 0px 0px rgba(0, 0, 0, 0)
    font font
    color #000
  form.minicart-empty
    padding-bottom 10px
    font font
  ul
    clear left
    margin 50px 0px 21px 0px
    list-style-type none
    background transparent 
    border 0px
    border-radius 0px
    box-shadow 0px 0px 0px rgba(0, 0, 0, 0)
  .minicart-empty ul
    display none
  .minicart-closer
    float right
    margin -12px -10px 0 
    padding 10px 
    background 0
    border 0
    font font
    cursor pointer
  .minicart-item
    position relative
    padding 3px 0
    min-height 17px
    float none
    font-size 20px
    line-height 7px
    a
      position absolute
      top 11px
      left 0
      width 350px
      color #333
      line-height 12px
      text-decoration none
  .minicart-attributes
    margin 18px 0 0
    padding 0
    border 0
    border-radius 0
    box-shadow none
    color #999
    font-size 12px
    line-height 22px
    li
      display inline
      &:after
        content ","
    li:last-child:after
      content ""
  .minicart-quantity
    position absolute
    top -4px
    left 462px
    width 24px
    height 21px
    padding 0px 4px
    font-size 19px
    text-align right
    transition border linear 0.2s, box-shadow linear 0.2s
    -webkit-transition border linear 0.2s, box-shadow linear 0.2s
    -moz-transition border linear 0.2s, box-shadow linear 0.2s
    &:hover
      border-color #0078C1
    &:focus
      border-color #0078C1
      outline 0
      box-shadow inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 3px rgba(0, 120, 193, 0.4)
  .minicart-remove
    position absolute
    top -7px
    left 493px
    width 18px
    height 23px
    margin 0
    padding 0
    background #fff
    border 1px solid #fff
    color red
    font-size 20px
    opacity 1
    cursor pointer
    &:hover
      opacity .5
  .minicart-price
    position absolute
    top 3px
    right 0
  .minicart-subtotal
    position absolute
    bottom 17px
    left 10px
    font-size 20px
    color red
  .minicart-submit
    position absolute
    bottom 14px
    right 10px
    cursor pointer
    transition transitionOut
    &:hover
      color red
    &:active
      border-bottom 2px solid
      border-color inherit      
    img
      vertical-align middle
      padding 4px 0 0 2px

p.minicart-empty-text
  margin-top 50px
  margin-bottom 2px

/* fonts */

@font-face
    font-family 'sp0001'
    src url('../font/sp001.woff') format('woff')
    font-weight normal
    font-style normal

@font-face
    font-family 'sp0002'
    src url('../font/sp002.woff') format('woff')
    font-weight normal
    font-style normal

::selection 
    background selectionColor

::-moz-selection 
    background selectionColor



/*MEDIA QUERIES*/

/* breakpoint 1 */

@media screen and (max-width: 1247px) {

.drawer {
font: 20px 'sp0002', Times, serif;
-webkit-font-smoothing: antialiased;
font-size: 25px;
line-height: 30px;
height: 380px;
width: 100%;
left: 0px;
right: 0px;
top: -495px;
background-color: #000;
position: fixed;
color: #fff;
text-align: center;
padding-top: 65px;
z-index: 151;
backface-visibility: hidden;
-webkit-backface-visibility: hidden;
overflow: hidden;
}

.drawer .right .caption {
position: absolute;
bottom: 70px;
left: 0;
}

.drawer .left p, .drawer .right p {
margin-bottom: 25px;
}

.booktitle + sup {
font-size: 11px;
text-transform: uppercase;
display: inline-block;
position: relative;
top: -3px;
line-height: 6px;
margin-bottom: -30px;
}

.email {
font: 20px 'sp0002', Times, serif;
font-size: 24px;
letter-spacing: 0.02em;
-webkit-font-smoothing: antialiased;
display: inline;
width: 300px;
height: 24px;
color: #fff;
text-align: left;
margin-right: 10px;
outline: none;
background-color: transparent;
cursor: text;
border: 1px solid #fff;
padding: 5px;
}

.submitbtn {
font: 20px 'sp0002', Times, serif;
font-size: 24px;
letter-spacing: 0.02em;
-webkit-font-smoothing: antialiased;
background: none;
border: none;
color: #fff;
text-decoration: none;
cursor: pointer;
-webkit-box-shadow: 0px;
-moz-box-shadow: 0px;
box-shadow: 0px;
padding: 0px;
margin: 0px;
border: 0px;
}

}


/* breakpoint 2 */

@media screen and (max-width: 768px) {

}

/* breakpoint 3 */


@media (max-width: 500px) and (min-width: 0px) {



}

/* air */


@media screen and (max-height: 760px) {

    #pub-ul{
      width: 360px;
    }

    #pub-ul li {
      font-size: 20px;
      padding-top: 5px;
      line-height: 29px;
      clear: both;
      margin-bottom: -8px;
    }

    sup{
      top: 7px;
    }
}

/* ipad */

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {


}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {


}


/* sp (landscape) ----------- */
/*@media only screen and (min-device-width : 321px) {
}*/

/* sp (portrait) ----------- */
@media only screen and (max-width : 320px) {


    body {
        font-family: Helvetica, sans-serif;
        font-size: 20px;
        line-height: 28px;
        letter-spacing: .02em;
    }

    #main-ul {
        padding-top: 3px;
    }

    .sp-li {
        margin-left: 5px;
    }

    .shabazz-intro {
        position: static;
        float: left;
        width: 310px;
    }

    .pub-li, .cart{
        display: none;
    }

    .mobile-pub{
        margin-top: 28px;
        display: block;
        float: left;
        margin-left: 5px;
        width: 310px;
    }

    .mob-blade{
        margin: 28px 0px;
        text-align: center;
    }

    .slide-mob img{
        width: 100%;
    }



}
