html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
html {
  background-color: #ff0918;
}
body {
  font: 20px Helvetica, sans-serif;
  line-height: 28px;
  letter-spacing: 0.02em;
}
.mobile-pub {
  display: none;
}
li {
  display: block;
  margin-right: 10px;
  position: relative;
  padding-right: 0.5em;
  line-height: 28px;
}
a {
  color: inherit;
  text-decoration: none;
}
.shabazz-intro,
#pub-ul {
  padding-top: 10px;
  margin-left: 15px;
  width: 500px;
  text-align: left;
}
.shabazz-intro {
  float: left;
}
.shabazz-intro a:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
}
#pub-ul {
  float: right;
  display: block;
  margin-right: 150px;
}
#pub-ul li {
  padding-top: 28px;
  line-height: 28px;
  clear: both;
}
#pub-ul li a {
  display: block;
}
#pub-ul li img {
  max-width: 100px;
  float: left;
  margin-right: 10px;
}
.thumb {
  -webkit-box-shadow: rgba(0,0,0,0.3) 3px 3px 7px;
  -moz-box-shadow: rgba(0,0,0,0.3) 3px 3px 7px;
  box-shadow: rgba(0,0,0,0.3) 3px 3px 7px;
}
.cart {
  position: absolute;
  top: 10px;
  right: 15px;
  z-index: 150;
}
.cartbtn,
.addcartbtn,
.minicart-submit {
  font: 20px Helvetica, sans-serif;
  line-height: 28px;
  letter-spacing: 0.02em;
  background: none;
  border: none;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
.cartbtn:focus,
.addcartbtn:focus,
.minicart-submit:focus,
button:focus {
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
  outline: none;
}
.addtocart {
  display: inline;
  margin-left: 10px;
}
.carttwo,
#info {
  position: absolute;
  bottom: 15px;
  left: 15px;
}
.sp-intro {
  margin-top: -28px;
}
.sp-intro a,
.udln,
form.addtocart,
.shabazz-intro a,
.minicart-submit {
  border-bottom: 2px solid;
  border-color: inherit;
}
p.first {
  text-indent: 165px;
}
p {
  margin-bottom: 28px;
}
.link-title {
  position: relative;
  z-index: 100;
}
.booktitle {
  display: block;
}
#img-container img {
  position: absolute;
  max-width: 85%;
  max-height: 85%;
  top: 10%;
  left: 10%;
  z-index: -400;
}
#img-container img:empty {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translateZ(1) scale(1, 1);
  -moz-transform: translateZ(1) scale(1, 1);
  -o-transform: translateZ(1) scale(1, 1);
  transform: translateZ(1) scale(1, 1);
}
.imgdisplay {
  display: visible;
}
#library:hover {
  color: #f00;
}
#hawlin:hover {
  color: #008000;
}
#jazz:hover {
  color: #f00;
}
#sega:hover {
  color: #ffc0cb;
}
#navsegda:hover {
  color: #800000;
}
#ball:hover {
  color: #a52a2a;
}
#library-img,
#hawlin-img,
#jazz-img,
#sega-img,
#navsegda-img,
#ball-img {
  display: none;
}
.bglibrary {
  color: #fff;
  background-color: #000;
}
.bghawlin {
  color: #fff;
  background-color: #000;
}
.bgjazz {
  background-color: #fff;
}
.bgsega {
  background-color: #ffc0cb;
}
.bgnavsegda {
  background-color: #808080;
}
.bgball {
  background-color: #f5f5dc;
}
.bgfadelibrary {
  color: #fff;
  background-color: #000;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.bgfadehawlin {
  color: #fff !important;
  background-color: #000;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.bgfadejazz {
  background-color: #fff;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.bgfadesega {
  background-color: #ffc0cb;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.bgfadenavsegda {
  background-color: #808080;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.bgfadeball {
  background-color: #f5f5dc;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
/*slides    */
#hawlin-gallery,
#jazz-gallery,
#sega-gallery,
#navsegda-gallery,
#ball-gallery {
  position: absolute;
  overflow: hidden;
  display: none;
  z-index: 150;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.box img {
  z-index: 200;
  position: absolute;
  max-width: 85%;
  max-height: 85%;
  display: none;
  cursor: pointer !important;
}
.box img:empty {
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translateZ(1) scale(1, 1);
  -moz-transform: translateZ(1) scale(1, 1);
  -o-transform: translateZ(1) scale(1, 1);
  transform: translateZ(1) scale(1, 1);
}
.slide-title {
  position: absolute;
  top: 10px;
  left: 15px;
}
.imgslide {
  display: none;
}
#intro-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffc0cb;
  z-index: 5000;
}
#intro-page img {
  max-width: 70%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transform: translateZ(1) scale(1, 1);
  -moz-transform: translateZ(1) scale(1, 1);
  -o-transform: translateZ(1) scale(1, 1);
  transform: translateZ(1) scale(1, 1);
}
input {
  border: 0px;
  margin-left: 0px;
  padding: 0px;
}
.email-fm {
  margin: 0px;
  padding: 0px;
}
.email {
  font: 20px Helvetica, sans-serif;
  letter-spacing: 0.02em;
  display: inline;
  width: 176px;
  height: 25px;
  color: #000;
  text-align: left;
  padding: 0px;
  margin-right: 10px;
  line-height: 28px;
  outline: none;
  background-color: transparent;
  cursor: text;
  border-bottom: 2px solid #000;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.email:focus {
  width: 220px;
}
.email + .submitbtn {
  display: none;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
}
.email:focus + .submitbtn {
  display: inline;
  font: 20px Helvetica, sans-serif;
  letter-spacing: 0.02em;
  border: none;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px;
  padding: 0px 1px;
  margin: 0px;
  border: 0px;
  color: #000;
}
.submitbtn {
  font: 20px Helvetica, sans-serif;
  line-height: 28px;
  letter-spacing: 0.02em;
  background: none;
  border: 2px solid #000;
  color: #000;
  text-decoration: none;
  cursor: pointer;
  -webkit-box-shadow: 0px;
  -moz-box-shadow: 0px;
  box-shadow: 0px;
  padding: 0px;
  margin: 0px;
  border: 0px;
}
::-webkit-input-placeholder {
  color: #000;
}
:-moz-placeholder {
  color: #000;
}
::-moz-placeholder {
  color: #000;
}
:-ms-input-placeholder {
  color: #000;
}
/*   minicart   */
#PPMiniCart {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 350;
}
#PPMiniCart .minicart-title {
  float: left;
  margin: -10px -10px 0;
  padding: 10px;
  background: 0;
  border: 0;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 12px;
}
.minicart-showing #PPMiniCart {
  display: block;
  top: 50%;
  left: 50%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
#PPMiniCart form {
  position: relative;
  width: 600px;
  max-height: 400px;
  margin-left: 0px;
  padding: 10px 10px 40px;
  background: #fff;
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  font: 20px Helvetica, sans-serif;
  color: #000;
}
#PPMiniCart form.minicart-empty {
  padding-bottom: 10px;
  font: 20px Helvetica, sans-serif;
}
#PPMiniCart ul {
  clear: left;
  margin: 50px 0px 21px 0px;
  list-style-type: none;
  background: transparent;
  border: 0px;
  border-radius: 0px;
  -webkit-box-shadow: 0px 0px 0px rgba(0,0,0,0);
  -moz-box-shadow: 0px 0px 0px rgba(0,0,0,0);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
}
#PPMiniCart .minicart-empty ul {
  display: none;
}
#PPMiniCart .minicart-closer {
  float: right;
  margin: -12px -10px 0;
  padding: 10px;
  background: 0;
  border: 0;
  font: 20px Helvetica, sans-serif;
  cursor: pointer;
}
#PPMiniCart .minicart-item {
  position: relative;
  padding: 3px 0;
  min-height: 17px;
  float: none;
  font-size: 20px;
  line-height: 7px;
}
#PPMiniCart .minicart-item a {
  position: absolute;
  top: 11px;
  left: 0;
  width: 350px;
  color: #333;
  line-height: 12px;
  text-decoration: none;
}
#PPMiniCart .minicart-attributes {
  margin: 18px 0 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  color: #999;
  font-size: 12px;
  line-height: 22px;
}
#PPMiniCart .minicart-attributes li {
  display: inline;
}
#PPMiniCart .minicart-attributes li:after {
  content: ",";
}
#PPMiniCart .minicart-attributes li:last-child:after {
  content: "";
}
#PPMiniCart .minicart-quantity {
  position: absolute;
  top: -4px;
  left: 430px;
  width: 24px;
  height: 21px;
  padding: 0px 4px;
  font-size: 19px;
  text-align: right;
  -webkit-transition: border linear 0.2s;
  -moz-transition: border linear 0.2s;
  -o-transition: border linear 0.2s;
  transition: border linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
}
#PPMiniCart .minicart-quantity:hover {
  border-color: #0078c1;
}
#PPMiniCart .minicart-quantity:focus {
  border-color: #0078c1;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) 0 0 3px rgba(0,120,193,0.4);
  -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) 0 0 3px rgba(0,120,193,0.4);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075) 0 0 3px rgba(0,120,193,0.4);
}
#PPMiniCart .minicart-remove {
  position: absolute;
  top: -7px;
  left: 462px;
  width: 18px;
  height: 23px;
  margin: 0;
  padding: 0;
  background: #fff;
  border: 1px solid #fff;
  color: #f00;
  font-size: 20px;
  opacity: 1;
  cursor: pointer;
}
#PPMiniCart .minicart-remove:hover {
  opacity: 0.5;
}
#PPMiniCart .minicart-price {
  position: absolute;
  top: 3px;
  right: 0;
}
#PPMiniCart .minicart-subtotal {
  position: absolute;
  bottom: 17px;
  left: 10px;
  font-size: 20px;
  color: #f00;
}
#PPMiniCart .minicart-submit {
  position: absolute;
  bottom: 12px;
  right: 10px;
  cursor: pointer;
}
#PPMiniCart .minicart-submit img {
  vertical-align: middle;
  padding: 4px 0 0 2px;
}
/*MEDIA QUERIES*/
/* breakpoint 1 */
@media screen and (max-width: 880px) {
  html {
    background-color: #e6000e;
  }
}
/* breakpoint 2 */
@media screen and (max-width: 768px) {
  html {
    background-color: #c4000c;
  }
}
/* breakpoint 3 */
@media (max-width: 500px) and (min-width: 0px) {
  html {
    background-color: #a2000a;
  }
}
/* ipad */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:portrait) {
  html {
    background-color: #800008;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
  html {
    background-color: #5e0006;
  }
}
/* sp (landscape) ----------- */
/*@media only screen and (min-device-width : 321px) {
}*/
/* sp (portrait) ----------- */
@media only screen and (max-width : 320px) {
  html {
    background-color: #ff0918;
  }
  body {
    font-family: Helvetica, sans-serif;
    font-size: 20px;
    line-height: 28px;
    letter-spacing: 0.02em;
  }
  #main-ul {
    padding-top: 3px;
  }
  .sp-li {
    margin-left: 5px;
  }
  .shabazz-intro {
    position: static;
    float: left;
    width: 310px;
  }
  .pub-li,
  .cart {
    display: none;
  }
  .mobile-pub {
    margin-top: 28px;
    display: block;
    float: left;
    margin-left: 5px;
    width: 310px;
  }
  .mob-blade {
    margin: 28px 0px;
    text-align: center;
  }
  .slide-mob img {
    width: 100%;
  }
}
